# sempre is installed separately
sempre/

# js/ts dependencies
node_modules/

# dist files from yarn build
dist/

# files created by tests
all.result
all.test
src/grammar/main_test.grammar
# debug only test
tests/grammar/debug.test.ts

# .env files
.env*

*.log
